<ion-content >
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img class="icone" src="../../assets/imagem-login.jpg" alt="icone">
          </div>
          <div padding>
            <ion-item>
                <ion-label position="floating">Nome</ion-label>
              <ion-input name="name"type="text" ngModel required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
              <ion-input name="usuario" type="email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Confirmar email</ion-label>
              <ion-input name="confirmar" type="email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Senha</ion-label>
              <ion-input name="password" type="password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" [disabled]="form.invalid" expand="block">Cadastrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>