
ion-button{
    --background: #250125;
}
ion-input{
    color: rgb(32, 2, 26) !important;
}
.icone{
    width: 9em;
    display: block;
    padding-top: 7em;
    margin: 0 auto;
    color: white;
}
ion-label{
    color: rgb(32, 2, 26) !important;
}
