
<ion-content>
  <ion-card *ngFor='let item of students'>
    <ion-card-header>
      <ion-card-title>{{item.Name}}</ion-card-title>
      <ion-card-subtitle>Endereço: {{item.Address}}</ion-card-subtitle>
      <ion-card-subtitle>Idade: {{item.Age}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button shape='round' color='danger' size='small' (click)='RemoveRecord(item.id)'>
        <ion-icon size='small' slot='icon-only' name='trash'>
        </ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>